[Unit]
Description=dGPU boot enable/disable script...
Before=multi-user.target
After=suspend.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/asusgpuboot

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
