[Unit]
Description=dGPU boot enable/disable script...
Before=display-manager.target
After=suspend.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/asusgpuboot

[Install]
WantedBy=display-manager.target
WantedBy=suspend.target
