[Unit]
Description=ASUS G14 boot script...
Before=graphical.target

[Service]
User=root
Type=simple
ExecStart=/usr/sbin/asus_boot

[Install]
WantedBy=graphical.target
